body {
  background-size: cover;
  font-family: Arial, sans-serif;
  color: #d501bc;
  position: relative;
  background-color: rgb(111, 0, 54);
}
div{
    display: flex;
    justify-content: center;
   
   
}

h1, h2, h3 {
  
  padding: 10px;
  border: 2px solid #000;
  text-align: center;
  text-shadow: 
  1px 1px 0 #000000, 
  -1px -1px 0 #777777, 
  1px -1px 0 #696969, 
  -1px 1px 0 #626262, 
  0 -1px 0 #000; /* Тінь для обведення тексту */

  
}

p {
  margin: 20px;
  padding: 20px;
  border: 5px solid transparent;
  display: flex;
  flex-direction: column;
  text-align: center; 
  color: hsl(302, 100%, 77%); 
  text-shadow: 2px 2px 5px rgb(154, 152, 152); /* Тінь */
 
}


button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #31001d;
    color: rgb(255, 0, 208);
    border-radius: 7px;
    transition: 0.3s;
    border: 3px solid #000;
    box-shadow: 0 4px #000000; /* Тінь */
   
    
  }
  
  button:hover {
    background-color: rgba(211, 0, 155, 0.866);
    color: rgb(77, 0, 63) ;
  }
  
 